

body{
    margin: 0;
    text-align: center; 
    
}


.top-container
{
    background-color: #2c607e;
    padding-top: 100px;
    position: relative;
    font-family: "Dancing Script", cursive;
    font-size: 24px;
    padding-bottom: 100px;
}

.bottom-cloud
{
    position: absolute;
    bottom:50px;
    left:250px;
}

.top-cloud
{
    position: absolute;
    top:50px;
    right:300px;
}

#hello
{
    margin: 20px 0px;
}

p
{
    margin: 0px 0px 40px 0px;
    font-family: sans-serif;
}
button
{
    background-color: #2c607e;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 13px;
    font-size: 35px;
    font-family: sans-serif;
    cursor: pointer;
}
button:hover
{
    color:black;
}


h1
{
    margin: 0;
    font-size: 562.5%;
}
h2
{
    font-size: 2.5rem;
    font-family: "Dancing Script", cursive;
    margin: 5px;
}
.middle-container
{
    font-family: sans-serif;
    font-size: 27px;
}

.profile
{
    padding: 200px 100px;
}
h2
{
    font-size:60px
}


.bottom-container
{
  font-family: sans-serif;
  padding: 200px 100px;
  font-size: 27px;
}





.profilepic
{
    width:250px;
    margin-top: 15px;
    
}
.skill-img
{
    width:130px;
}
#ambul
{
    width: 150px;
}
#webdevimg
{
    padding-bottom: 10px;
}
hr
{
    width: 7%;
    color: gray;
    border-width: 10px;


    /*dotted*/
    border-style: dotted none none none;

}


.skill-row
{
    /*makes it inline block*/
    margin-top: 70px;
    margin-bottom: 100px;
}
.skills
{
    background-color: #E4F9F5;
    padding: 7px;
    margin-top: 25px;
    padding: 200px 100px;
}
#myskills
{
    padding-top: 100px;
}

.CV
{
    margin-top: 25px;
}
.cvlink:hover
{
    color: red;
    background-color: blanchedalmond;
}

h3
{
    margin: 0;
}

.icon
{
    width:20px;
    margin-right: 5px;

}

#github
{
    width: 22px;
}

.contact-me
{
    margin-bottom: 10px;
    font-family: sans-serif;
}
.contactbtn
{
    background-color: #19476d6c;
    color: black;
    
    border: none;
    border-radius: 13px;
    font-size: 30px;
    font-family: sans-serif;
    cursor: pointer;
    margin: 12px 12px;
}
.contactbtn:hover
{
    text-decoration: underline;
}

footer
{
    background-color: #2c607e;
    font-family: sans-serif;
    font-size: 27px;
}


