

body{
    margin: 0;
    text-align: center; 
    
}


.top-container
{
    background-color: #2c607e;
    padding-top: 100px;
    position: relative;
    font-family: "Dancing Script", cursive;
    font-size: 24px;
    padding-bottom: 100px;
}

#mytitle
{
    font-family: sans-serif;
}

p
{
    margin: 0px 0px 10px 0px;
}
button
{
    background-color: #2c607e;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 13px;
    font-size: 16px;
    font-family: sans-serif;
    cursor: pointer;
}
button:hover
{
    color:black;
}


h1
{
    margin: 0;
    font-size: 562.5%;
}
h2
{
    font-size: 2.5rem;
    font-family: "Dancing Script", cursive;
    margin: 5px;
}
.middle-container
{
    font-family: sans-serif;

}


.bottom-container
{
  font-family: sans-serif;
  padding-top: 100px;
  padding-bottom: 100px;
}

.bottom-cloud
{
    position: absolute;
    bottom:50px;
    left:250px;
}

.top-cloud
{
    position: absolute;
    top:50px;
    right:300px;
}

#hello
{
    margin-bottom: 17px;
}

.profilepic
{
    width:150px;
    margin-top: 15px;
}
.skill-img
{
    width:130px;
}
#ambul
{
    width: 150px;
}
#webdevimg
{
    padding-bottom: 10px;
}
.skill-row
{
    /*makes it inline block*/
    margin-top: 70px;
    margin-bottom: 100px;
}
.skills
{
    background-color: #E4F9F5;
    padding: 7px;
    margin-top: 25px;
    padding-bottom: 100px;
    padding-top: 50px;
}
#myskills
{
    margin-top: 10px;
}

.CV
{
    margin-top: 25px;
}
.cvlink:hover
{
    color: red;
    background-color: blanchedalmond;
}

h3
{
    margin: 0;
}

.icon
{
    width:20px;
    margin-left: 5px;

}

#github
{
    width: 23px;
}

.contact-me
{
    margin-bottom: 10px;
    font-family: sans-serif;
}
.footer-link:hover
{
    color:red;
}
.btn:hover
{
    background-color: red;
    color: white;
}

